/* AdminHomePage.css */

.admin-home-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Adjust the height based on your requirements */
  }
  
  .button-container {
    display: flex;
    flex-direction: column;
    gap: 10px; /* Adjust the gap between buttons */
    align-items: center;
  }
  
  .button-container button {
    padding: 10px 20px;
    font-size: 16px; /* Adjust the font size based on your design */
    cursor: pointer;
    background-color: #EDC53F; /* Change the background color to #EDC53F */
    color: #fff; /* Adjust the text color */
    border: none;
    border-radius: 8px;
  }
  
  .button-container button:hover {
    background-color: #ccab39; /* Adjust the background color on hover */
  }
  
  /* Two columns layout */
  .button-container.left {
    align-items: flex-end;
  }
  
  .button-container.right {
    align-items: flex-start;
  }
  
  /* Logout button styling */
  .logout-button {
    margin-top: 20px; /* Adjust the top margin as needed */
    background-color: #EDC53F; /* Change the background color to #EDC53F */
    color: #fff; /* Adjust the text color */
    padding: 10px 20px;
    font-size: 16px; /* Adjust the font size based on your design */
    cursor: pointer;
    border: none;
    border-radius: 8px;
  }
  
  .logout-button:hover {
    background-color: #ccab39; /* Adjust the background color on hover */
  }