.manage-routes-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px;
  }
  
  .select-drivers-container {
    text-align: center;
    margin-top: 20px; /* Adjust the margin-top as needed */
  }
  
  .assign-button {
    padding: 10px 15px; /* Adjust the padding as needed */
    font-size: 14px;
    cursor: pointer;
    background-color: #EDC53F;
    color: #fff;
    border: none;
    border-radius: 10px;
    width: 100%;
  }
  
  .assign-button:hover {
    background-color: #ccab39;
  }

  .route-table {
    width: 80%;
    margin-top: 30px;
    border-collapse: collapse;
    overflow-x: auto;
  }
  
  .route-table th,
  .route-table td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
  }
  
  .route-table th {
    background-color: #D9D9D9;
  }
  
  .route-table tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  .route-table tr:hover {
    background-color: #ddd;
  }
  
  .route-actions {
    margin-top: 20px;
  }
  
  .assign-button {
    padding: 15px 20px;
    font-size: 14px;
    cursor: pointer;
    background-color: #EDC53F;
    color: #fff;
    border: none;
    border-radius: 10px;
  }
  
  .assign-button:hover {
    background-color: #ccab39;
  }