.auction-page {
    display: flex;
    justify-content: space-between;
    padding: 30px;
  }
  
  .car-details {
    display: flex;
    gap: 60px;
    width: 75%;
  }
  
  .car-image img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
  }
  
  .car-info-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  
  .car-info {
    display: flex;
    flex-direction: column;
    width: 48%; /* Adjust the width as needed */
  }
  
  .car-info .body-20-bold {
    font-size: 20px;
    font-weight: bold;
  }
  
  .car-property {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
  }
  
  .car-property div {
    margin-bottom: 15px;
    display: flex;
  }
  
  .car-property .label-14-bold {
    font-size: 14px;
    font-weight: bold;
    margin-right: 5px;
  }
  
  .car-property .label-14 {
    font-size: 14px;
  }