/* App.css or your preferred CSS file */

  
.request-container {
  display: flex;
  flex-direction: column; /* Stack children vertically */
  background-color: #f3f2f2;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 250px; /* Adjusted width for the form */
  text-align: center;
  margin: 0 auto;
  margin-top: 50px;
}

h2 {
  color: #333;
}

label {
  display: block;
  margin-bottom: 8px;
}

input {
  width: calc(100% - 16px); /* Adjusted width for the input fields */
  padding: 8px;
  margin-bottom: 16px;
  max-width: 400px;
  box-sizing: border-box;
}

.alert {
  background-color: #e74c3c;
  color: #fff;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 16px;
  text-align: center;
}

.request-button{
  display: block;
    margin: 0 auto;
   
}

.client-home-page {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.task-list {
  width: 20%;
}

.task-list h2 {
  color: #333;
}

.task-list ul {
  list-style: none;
  padding: 0;
}

.task-list li {
  cursor: pointer;
  margin-bottom: 8px;
  padding: 8px;
  background-color: #f0f0f0;
  border-radius: 8px;
}

.task-details {
  display: flex;
  flex-direction: column; 
  gap: 20px;
  width: 75%;
}

.task-details h2 {
  color: #333;
}

.task-details h3 {
  margin-top: 0;
  color: #007bff;
}

.task-details p {
  color: #555;
}

.button-container {
  /* margin-top: 20px; */
  display: flex;
} 

.button-container button {
  margin-right: 10px;
  padding: 10px 20px;
  font-size: 14px;
  cursor: pointer;
}

.button-container button:last-child {
  margin-right: 0; /* Remove margin from the last button to prevent extra spacing */
}
