.auction-page {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 30px;
  }
  
  .car-details {
    display: flex;
    align-items: center;
    padding: 20px;
    gap: 60px;
    width: 95%;
    box-shadow: 0 0 10px rgb(145, 145, 145);
    margin-bottom: 10px;
    border-radius: 8px;
  }
  
  .car-image img {
    height: auto;
    border-radius: 8px;
    width:600px;
  }
  


  .car-info-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: auto;
  }
    .car-container {
    display: flex;
    justify-content: space-between;
    /* width: 100%; */
  }
  
  .car-info {
    display: flex;
   
    padding: 20px;
    width: auto;
  }
  
  .car-info .body-20-bold {
    font-size: 20px;
    font-weight: bold;
  }
  
  .car-property {
    margin-top: 10px;
    display: flex;
    flex-direction: column; 
    /* width: 100%; */
  }
  
  .car-property div {
    margin-bottom: 15px;
    display: flex; 

  }
  
  .car-property .label-14-bold {
    font-size: 14px;
    font-weight: bold;
    margin-right: 5px;
  }
  
  .car-property .label-14 {
    font-size: 14px;
    /* width: 100%; */
  }

  .button-container-car,.in-auction-label {
    display: flex;
    align-items:center; /* Align the button vertically in the container */
    align-self: flex-start;
    margin-top : 10px;
  }
  

  .in-auction-label {
    padding: 8px 16px; /* Adjust the padding as needed */
    font-size: 14px;
    background-color: #28a745; /* Green color for "In Auction" label */
    color: #fff; /* Text color */
    border-radius: 4px;
    display: inline-block;
  }

  .button-gap {
    margin-left: 10px; /* Adjust the value to set the desired space */
  }
  
  .button-vehicle {
    width: auto;
    height: 40px;
    text-align: center;
    color: white;
    font-size: 13px;
    font-weight: bold;
    background-color: #EDC53F; /* Default button background color */
    border: none;
    border-radius: 5px; /* Adjust as needed */
    cursor: pointer;
    transition: background-color 0.3s ease; /* Smooth transition effect */
}
  
.button-vehicle:hover {
    background-color: #d4b037; /* Button background color on hover */
}

/* AdminVehiclesFuelingHistory.css */

.history-page {
  padding: 20px;
}

.fueling-cards {
  display: flex;
  flex-wrap: wrap;
}

.fueling-card {
  border: 1px solid #ccc;
  margin: 10px;
  padding: 15px;
  width: 300px;
}

.fueling-info {
  text-align: center;
}

.fueling-info h2 {
  margin-bottom: 10px;
}

.fueling-info p {
  margin: 5px 0;
}
