 *{
    margin: 0;
    padding: 0;
} 
html{
    background-color: #ECECEC;
    font-family: 'Montserrat', sans-serif;
}

.yellow {
  color: #EDC53F;
}

.light-orange {
  color: #F3A141;
}

.orange {
  color: #E87E42;
}

.header-48-bold {
  font-size: 48px;
  font-weight: bold;
}

.header-48 {
    font-size: 48px;
}

.header-40-bold {
  font-size: 40px;
  font-weight: bold;
}

.header-40 {
    font-size: 40px;
}

.header-32-bold {
  font-size: 32px;
  font-weight: bold;
}

.header-32 {
    font-size: 32px;
}

.body-24-bold {
  font-size: 24px;
  font-weight: bold;
}

.body-24 {
  font-size: 24px;
}

.body-20-bold {
  font-size: 20px;
  font-weight: bold;
}

.body-20 {
  font-size: 20px;
}

.body-16-bold {
  font-size: 16px;
  font-weight: bold;
}

.body-16 {
  font-size: 16px;
}

.body-14-bold {
  font-size: 14px;
  font-weight: bold;
}

.body-14 {
  font-size: 14px;
}

.label-13 {
  font-size: 13px;
}

.label-12 {
  font-size: 12px;
}

.label-11 {
  font-size: 11px;
}

.label-13-bold {
  font-size: 13px;
  font-weight: bold;
}

.label-12-bold {
  font-size: 12px;
  font-weight: bold;
}

.label-11-bold {
  font-size: 11px;
  font-weight: bold;
}

.button-264 {
    width: 264px;
    height: 40px;
    text-align: center;
    color: white;
    font-size: 13px;
    font-weight: bold;
    background-color: #EDC53F; /* Default button background color */
    border: none;
    border-radius: 5px; /* Adjust as needed */
    cursor: pointer;
    transition: background-color 0.3s ease; /* Smooth transition effect */
}
  
.button-264:hover {
    background-color: #d4b037; /* Button background color on hover */
}

.button-124 {
    width: 124px;
    height: 40px;
    text-align: center;
    color: white;
    font-size: 13px;
    font-weight: bold;
    background-color: #EDC53F; /* Default button background color */
    border: none;
    border-radius: 5px; /* Adjust as needed */
    cursor: pointer;
    transition: background-color 0.3s ease; /* Smooth transition effect */
}
  
.button-124:hover {
    background-color: #d4b037; /* Button background color on hover */
}

.input-264 {
  width: 264px;
  height: 40px;
  padding: 8px; /* Adjust padding as needed */
  font-size: 14px; /* Adjust font size as needed */
  border: 1px solid #ccc; /* Border color for the input */
  border-radius: 5px; /* Adjust as needed */
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

/* Label for account details */
.account-label {
  display: block;
  margin-bottom: 5px;
  font-size: 13px;
  font-weight: bold;
  color: #333;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}


